tensorflow
matplotlib
ipython
numpy
keras
torch
pandas
scikit-learn
opencv-python
ultralytics
openai
#ollama

django
djangorestframework
django-cors-headers
requests
pillow
python-decouple
python-dotenv